.main__list {
  &-link {
    text-decoration-color: #b6718c;
    color: #b6718c;
  }
  &-article {
    width: 100%;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #040505;
    border-radius: 10px;
    border: 4px solid #04f3f3;
    padding: 10px 0px;
    &Img {
      width: 85%;
    }
    &Name {
      text-align: center;
    }
  }
}